html {
  background-color: #fff;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}
#results {
    height: 500px;
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #ffcb00;
    
}

.title {
  color: #fff;;
  font-family: 'Roboto', sans-serif;
}

nav h1 {
  color: #fff;;
  font-family: calibri, sans-serif;
}

.checkbox {
  font-family: 'Roboto', sans-serif; 
}

.radio {
  font-family: 'Roboto', sans-serif; 
}

.button {
  background-color: #ffcb00;
  border: 0px;
  font-size: 12px;
}

.button:hover {
  transform: scale(1.1);
}

h3 {
  /* font-family: calibri, sans-serif; */
  color: #fff;
  font-size: 14px;
}

footer {
  background-color: #ffcb00;
} 

