
html {
  background-color: #fff;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  padding-bottom: 10px;
}

nav{
  background-color: rgb(14, 12, 12);
}

.title {
  color: #ffff;
  font-family: Didot, sans-serif;
}

nav h1 {
  color: #ffff;
  font-family: calibri, sans-serif;
}

.checkbox {
  font-family: calibri, sans-serif;
  }

.button {
  border: 0px;
  font-size: 12px;
}

.button:hover {
  transform: scale(1.1);
}

h3 {
  font-family: calibri, sans-serif;
  color: #fff;
  font-size: 14px;
}

.footer {
  background-color: rgb(14, 12, 12);
    color: black;
    font-family: Didot, sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:0%;
    margin-bottom: -20px;
}

.favorites:active, .favorites:focus {
  background-color: rgb(199, 71, 32);
  color: black;

}
.navbar-item, .logo {
  color: white;
  font-family: Didot, sans-serif;
}

.options-container  {
  margin-top: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px;
  align-items: center;
  margin-bottom: 20px;
}

#form {
  position: sticky;
  position: -webkit-sticky;
  padding-right: 1vw;
  top: 5rem;
  padding-left: 10px;
}

.page-title {
  border-bottom: 2px solid black;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.results-card {
  border: 1px solid black;
}
.nav {
  width: 100%;
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding-bottom: 20px;
}

.subtitle {
  text-align: center;
  margin-top: 20px;
  padding-bottom: -40px;
}

.centerDinnerDrinksButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.buttondinner {
  background-color: rgb(14, 12, 12);
  font-family: Didot, sans-serif;
  font-weight: bold;
  margin-left: 30px;
  color: #fff

}

.buttondrinks {
  background-color: rgb(14, 12, 12);
  font-family: Didot, sans-serif;
  font-weight: bold;
  margin-left: 30px;
  color: #fff

}

.page-title-header-home{
  text-align: center;
   font-size: 100px;
   color: #fff;
}

.header-home {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  padding: 20px 35px;
  background-color: rgb(14, 12, 12);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}

.icon-text {
  left: 0;
  padding-left: 0;
}